menuconfig ARCH_HELIOSX
	bool "Marvell Ltd. HELIOS X" if ARCH_MULTI_V7
	select CLKSRC_MMIO
	select COMMON_CLK
	select GENERIC_CLOCKEVENTS
	select GENERIC_IRQ_CHIP
	select IRQ_DOMAIN
	select MULTI_IRQ_HANDLER
	select SPARSE_IRQ
	help
	  I cannot help you man, even I do not know how to port to HeliosX.

config HELIOSX_DRAM_REGION_BASE
	hex "Region base"
	help
	  Region base


